/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;

    padding: 5px;
  }
  
  .navbar h1 {
    color: white;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar ul li {
    margin: 0 15px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
  